// Define variables for your color scheme

// For example:
$blue: #2274A5;
$darkblue: #160F29;
$yellow: #ffcc00;
$green: #26A96C;
$lightblue: #c7ede8;
$red: #EE5F5B;
$gray: #cbd0c6;
$orange: #E0A85E;
$light-gray: #F4F4F4;