.wrapper-challenge {
  height: calc(100vh - 70px);
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
  }

  // background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(34, 116, 165, 1) 33%, rgba(68, 159, 229, 1) 89%);
  // background: linear-gradient(to right, #005c97, #363795);
  // background: linear-gradient(to right, #000428, #004e92);

}

.wrapper-challenge button {
  margin-bottom: 50px;
  max-width: 160px;

}

.rounded {
  border-radius: 20px;
}

.container-challenge-page {
  margin-bottom: 2em;

  position: relative;

}

#poster {
  flex: 0 1 50%;
  width: 280px;
}

#not-completed {
  display: flex;
}

.challenge-card {
  height: 120px;
  width: 80px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 12px;
}

.challenge-cards {
  margin-right: 5%;
}

.wrong-banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrong-content {
  text-align: center
}

.absolute {
  position: absolute;
  top: 40px;
}

.absolute-card {
  position: absolute;
  top: 70px;
  right: 15px;
}

.score {
  text-align: center;
}