.wrapper-challenge {
  height: calc(100vh - 200px);
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  // background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(34, 116, 165, 1) 33%, rgba(68, 159, 229, 1) 89%);
  // background: linear-gradient(to right, #005c97, #363795);
  // background: linear-gradient(to right, #000428, #004e92);

}

.wrapper-challenge button {

  max-width: 160px;

}

.rounded {
  border-radius: 20px;
}

.container-challenge-page {
  margin-bottom: 2em;

  position: relative;

}

#poster {
  flex: 0 1 50%;
  width: 280px;
}

#not-completed {
  display: flex;
}

.challenge-card {
  height: 120px;
  width: 80px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 12px;
}

.challenge-cards {
  margin-right: 5%;
}

.wrong-banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrong-content {
  text-align: center
}

.absolute {
  position: absolute;
  top: 40px;
}

.absolute-card {
  position: absolute;
  top: 70px;
  right: 15px;
}

.leader-score {
  position: absolute;
  right: 20px;
  bottom: 1px;
}

.leader-table {
  height: 46px;
  background-color: rgba(30, 255, 255, 0.5);
  margin: 10px;
  width: 96%;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 3px #6b6373;
  color: white;
  position: relative;

  ul {
    list-style-type: none;
    text-align: left;

    li {
      display: inline-block;


    }
  }
}

.medal {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  bottom: 17px;


  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

  }
}

.leader-username {
  position: absolute;
  left: 55px;
  bottom: 1px;
}

.rank {
  position: absolute;
  left: 20px;
  bottom: -5px;
}

.margin-left {
  margin-left: 5px;
  margin-bottom: 39px;
}