.insectified {
  grid-row: 1 / span 1;
  grid-column: 2 / span 3;
  padding-top: 15px;
}

.insectified h1 {
  font-weight: bold;
  color: white;
  margin-top: 0px;
}

.name {
  background-color: black;
  color: white;
  font-size: 17px;
}

.photo-name {
  display: flex;
  width: 100px;
}

.description p {
  @media screen and (min-width: 600px) {
    width: 700px;
  }
}

.wrapper-content-page {
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(34, 116, 165, 1) 33%, rgba(68, 159, 229, 1) 89%);
}

.ccontainer-content-page {
  height: 970px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insect-container {
  display: grid;
  height: calc(100vh - 150px);
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 46% 32% 22%;
}

.photo {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  border-radius: 10px;
  padding-right: 5px;
  margin-left: 15px;
}

.name {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 13px;
}

.description {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  color: white;
  background-color: black;
  height: 160px;
  margin: 10px 13px 0px 15px;
  border-radius: 10px;
}

.add-btn {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  margin-right: 12px;
  margin-left: 12px;
}

div.name ul {
  list-style-type: none;
  text-align: left;
}

div.name li {
  margin-left: -37px;
  padding-bottom: 5px;
}