.container-content-page {
  // margin: 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.collection {
  height: 300px;
}

.insectify {
  height: 230px;
}

.name {
  background-color: $darkblue;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 3%;
  padding: 1%;
  // width: 200px;
  overflow: auto;

  ul {
    list-style-type: none;
    text-align: left;

    li {
      margin-left: -37px;
      padding-bottom: 5px;
    }
  }
}


.image {
  // width: 50%;
  display: flex;
  flex: 1 1 50%;
}

.top-inline {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;

}

.description {
  background-color: $darkblue;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  overflow: auto;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
  padding: 2%;
  height: calc(50vh - 180px);
}

// .description p {
//   padding-left: 10px;

//   // @media screen and (min-width: 600px) {
//   //   width: 700px;
//   // }
// }

.photo {
  // width: 100%;
  border-radius: 10px;
  // flex: 1 1 50%;
}

// .description p {
//   @media screen and (min-width: 600px) {
//     width: 700px;
//   }
// }

.magnify {
  background-color: orange;
  font-size: 17px;

  a {
    color: white;
  }
}

.row-1 {
  height: 100px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

div.name li {
  margin-left: -37px;
  padding-bottom: 5px;
}
