<footer>
  <div class="tabs">
    <div class="tab active>">
      <%=link_to root_path, method: :get do %>
        <%= image_tag "award-solid.svg" %>
      <% end %>
    </div>
    <div class="tab">
      <%= link_to collections_path, method: :get do %>
        <h3><i class="fas fa-book"></i></h3>
      <% end %>
    </div>
    <div class="tab">
      <%= link_to collections_path, method: :get do %>
        <h3><i class="fas fa-book"></i></h3>
      <% end %>
    </div>
  </div>
</footer>