  
<footer>
  <div class="tabs">
    <a class="tab active" href="#">
      <h3><i class="fas fa-home"></i></h3>
    </a>
    <a class="tab" href="#">
      <h3><i class="fas fa-book"></i></h3>
    </a>
  </div>
</footer>