<footer>
  <div class="tabs">
    <%= link_to root_path, class: "tab active" do %>
      <h3><i class="fas fa-home"></i></h3>
    <% end %>
    <%= link_to collections_path, class: "tab" do %>
      <h3><i class="fas fa-book"></i></h3>
    <% end %>
  </div>
</footer>