<div class="wrapper-content-page">
  <div class="wrong-part">
    <h1>I'm afraid you hunted the wrong insect.</h1>
    <%= image_tag "wrong.jpg"%>
  </div>
</div>
<%= render 'shared/footer_collection_active' %>