<% content_for :title do %>
Challenge
<% end %>
<div class="wrapper-content-page">
  <div class="container">
    <div class="insect-collection">
    </div>
    <div class="row-card">
      <div class="cards">
        <div class="col-xs-3">
          <% @challenges.each do |challenge| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path challenge.poster%>');">
            <%= link_to "", challenge_path(challenge), class: 'card-link' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'shared/footer_collection_active' %>