.btn-main {
  background-color: #ffb330;
  min-width: 110px;
  min-height: 60px;
  margin: 0px 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.5);

}



.btn-main-red {
  background-color: #db2f08;
  min-width: 110px;
  min-height: 60px;
  margin: 0px 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.5);

}


.btn-main:active {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}

.btn-main-red:active {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}

.btn-main-wrapper {
  min-height: 55px;
  min-width: 95%;
  border-radius: 4px;

  background-color: $yellow;
  opacity: 0.8;
  position: absolute;
  // top: 4px;
  // left: 4px;


}

.gray {
  background-color: $gray;
}

.light_gray {
  background-color: #8e969e;
}

.btn-main-wrapper-red {
  min-height: 55px;
  min-width: 95%;
  border-radius: 4px;

  background-color: #F93708;
  opacity: 0.8;
  position: absolute;
  // top: 4px;
  // left: 4px;


}

.btn-main-white-top {
  background-color: white;
  opacity: 0.2;
  height: 30px;
  position: absolute;
  top: 4%;
  min-width: 95%;
  border-radius: 4px;
  position: absolute;
  // top: 4px;
  // left: 4px;
}

label, button {
  h3 {
    font-size: 25px;
        margin: auto;
  }
}

.btn-main h3,
.btn-main a {
  text-decoration: none;
  z-index: 0;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

.btn-main-red h3,
.btn-main-red a {
  text-decoration: none;
  z-index: 0;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;

}
