.tabs {
  background: $blue;
  display: flex;
  height: 50px;
}

.tabs a {
  color: black;
  text-decoration: none;
}



.tabs h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}


.tab {
  background: $green;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-left: 1px solid black;
}

a.tab:hover {
  background: #63c687;

}


.tab.active {
  background: #63c687;
  color: white;
  flex: 0 0 60%;
  border-left: none;
  // border-right: 1px solid black;
}


footer {
  position: relative;
  flex-shrink: 0;
}
