// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(34, 116, 165, 1) 33%, rgba(68, 159, 229, 1) 89%);

  .title {
    text-align: center;

    h2 {
      color: #ffffff;
      margin-top: -3%;
    }

    margin-bottom: 0%;



  }
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

.content {
  flex: 1 0 auto;
}




// .center {
//   position: absolute;
//   text-align:center;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
// }