// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "toastr";



body {
  color: white;
  height: 100vh;
  background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(34, 116, 165, 1) 33%, rgba(68, 159, 229, 1) 89%);

  .title {
    text-align: center;
    margin-bottom: 0%;
  }


}

a {
  color: white;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

h2 {

  margin-top: -3%;
}

.content {
  flex: 1 0 auto;
}